html{
    display: flex;
    flex-direction: column;
} 

#header{
    height: 100px;
    background-color: blue;
}

#container{
    background-color: brown;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form{
    margin: 30px;
    background-color: blueviolet;

}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    height: 300px;
    width:300px;
    background-color: burlywood;
    margin: 10px;
}