html{
    display: flex;
    flex-direction: column;
}

#header{
    height: 100px;
    background-color: blue;
}

#container{
    background-color: brown;
    height: 500px;
}

.card{
    height: 300px;
    width:300px;
    background-color: burlywood;
}